*.book
*.coverage
*.egg
*.egg-info/
*.py[cod]
*.tmp
.coverage
.eggs/
.hypothesis/
.malphas/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
build/
dist/
env/
frontend/showcase/.wrangler/
venv/
